<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martiply.me.widget.fukuoka.train.time">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <receiver android:name=".widget.MainWidget" android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_main" />

        </receiver>
        <service android:name=".widget.MainWidget$UpdateService" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.martinbudi.nakasuwidget.action.UPDATE" />
            </intent-filter>
        </service>
    </application>
</manifest>
